kampus-trustee.ru {
    root * /var/www/frontend
    file_server
    try_files {path} /index.html
    header {
        -Server
    }
}

api.kampus-trustee.ru {
    reverse_proxy 51.250.20.57:8080
    header {
        -Server
    }
}